// =============================================================================
// Base16 Hi-Hanaka - Night Star Blue eye-friendly syntax highlighter
// =============================================================================
// Pre-adapted from Hanaka (with additional color hue) for Base16 Theme
// Base16 project by Chris Kempson: http://chriskempson.com/projects/base16/
// -----------------------------------------------------------------------------
$base00: #0D182A;
$base01: #1C2537;
$base02: #2B3243;
$base03: #494C5B;
$base04: #85818C;
$base05: #C0B5BD;
$base06: #DDCFD6;
$base07: #FFF4F7;
$base08: #F05086;
$base09: #F0A03A;
$base0A: #FFF64B;
$base0B: #A0D835;
$base0C: #22FAAA;
$base0D: #3EAAF3;
$base0E: #BB3FF2;
$base0F: #E0A08F;
// -----------------------------------------------------------------------------